* text=auto !eol
/BKE_creator.pro -text
/BKE_creator.pro.user -text
/BKE_creator.sln -text
/BKE_creator.v12.suo -text
/BKE_creator.vcxproj -text
/BKE_creator_static_qsci.pro -text
/BKE_creator_static_qsci.pro.user -text
/BKE_creator_static_qsci.sln -text
/BKE_creator_static_qsci.vcxproj -text
/BKE_creator_static_qsci.vcxproj.filters -text
/BKE_creator_static_qsci.vcxproj.user -text
BKEscintilla/Qt4Qt5/ListBoxQt.cpp -text
BKEscintilla/Qt4Qt5/ListBoxQt.h -text
BKEscintilla/Qt4Qt5/PlatQt.cpp -text
BKEscintilla/Qt4Qt5/Qsci/qsciabstractapis.h -text
BKEscintilla/Qt4Qt5/Qsci/qsciapis.h -text
BKEscintilla/Qt4Qt5/Qsci/qscicommand.h -text
BKEscintilla/Qt4Qt5/Qsci/qscicommandset.h -text
BKEscintilla/Qt4Qt5/Qsci/qscidocument.h -text
BKEscintilla/Qt4Qt5/Qsci/qsciglobal.h -text
BKEscintilla/Qt4Qt5/Qsci/qscilexer.h -text
BKEscintilla/Qt4Qt5/Qsci/qscimacro.h -text
BKEscintilla/Qt4Qt5/Qsci/qsciscintilla.h -text
BKEscintilla/Qt4Qt5/Qsci/qsciscintillabase.h -text
BKEscintilla/Qt4Qt5/Qsci/qscistyle.h -text
BKEscintilla/Qt4Qt5/Qsci/qscistyledtext.h -text
BKEscintilla/Qt4Qt5/SciClasses.cpp -text
BKEscintilla/Qt4Qt5/SciClasses.h -text
BKEscintilla/Qt4Qt5/SciNamespace.h -text
BKEscintilla/Qt4Qt5/ScintillaQt.cpp -text
BKEscintilla/Qt4Qt5/ScintillaQt.h -text
BKEscintilla/Qt4Qt5/bkestyle.cpp -text
BKEscintilla/Qt4Qt5/bkestyle.h -text
BKEscintilla/Qt4Qt5/qsciabstractapis.cpp -text
BKEscintilla/Qt4Qt5/qsciapis.cpp -text
BKEscintilla/Qt4Qt5/qscicommand.cpp -text
BKEscintilla/Qt4Qt5/qscicommandset.cpp -text
BKEscintilla/Qt4Qt5/qscidocument.cpp -text
BKEscintilla/Qt4Qt5/qscilexer.cpp -text
BKEscintilla/Qt4Qt5/qscilexerbash.cpp -text
BKEscintilla/Qt4Qt5/qscilexerbatch.cpp -text
BKEscintilla/Qt4Qt5/qscilexercmake.cpp -text
BKEscintilla/Qt4Qt5/qscilexercpp.cpp -text
BKEscintilla/Qt4Qt5/qscilexercsharp.cpp -text
BKEscintilla/Qt4Qt5/qscilexercss.cpp -text
BKEscintilla/Qt4Qt5/qscilexercustom.cpp -text
BKEscintilla/Qt4Qt5/qscilexerd.cpp -text
BKEscintilla/Qt4Qt5/qscilexerdiff.cpp -text
BKEscintilla/Qt4Qt5/qscilexerfortran.cpp -text
BKEscintilla/Qt4Qt5/qscilexerfortran77.cpp -text
BKEscintilla/Qt4Qt5/qscilexerhtml.cpp -text
BKEscintilla/Qt4Qt5/qscilexeridl.cpp -text
BKEscintilla/Qt4Qt5/qscilexerjava.cpp -text
BKEscintilla/Qt4Qt5/qscilexerjavascript.cpp -text
BKEscintilla/Qt4Qt5/qscilexerlua.cpp -text
BKEscintilla/Qt4Qt5/qscilexermakefile.cpp -text
BKEscintilla/Qt4Qt5/qscilexermatlab.cpp -text
BKEscintilla/Qt4Qt5/qscilexeroctave.cpp -text
BKEscintilla/Qt4Qt5/qscilexerpascal.cpp -text
BKEscintilla/Qt4Qt5/qscilexerperl.cpp -text
BKEscintilla/Qt4Qt5/qscilexerpostscript.cpp -text
BKEscintilla/Qt4Qt5/qscilexerpov.cpp -text
BKEscintilla/Qt4Qt5/qscilexerproperties.cpp -text
BKEscintilla/Qt4Qt5/qscilexerpython.cpp -text
BKEscintilla/Qt4Qt5/qscilexerruby.cpp -text
BKEscintilla/Qt4Qt5/qscilexerspice.cpp -text
BKEscintilla/Qt4Qt5/qscilexersql.cpp -text
BKEscintilla/Qt4Qt5/qscilexertcl.cpp -text
BKEscintilla/Qt4Qt5/qscilexertex.cpp -text
BKEscintilla/Qt4Qt5/qscilexerverilog.cpp -text
BKEscintilla/Qt4Qt5/qscilexervhdl.cpp -text
BKEscintilla/Qt4Qt5/qscilexerxml.cpp -text
BKEscintilla/Qt4Qt5/qscilexeryaml.cpp -text
BKEscintilla/Qt4Qt5/qscimacro.cpp -text
BKEscintilla/Qt4Qt5/qscintilla.pro -text
BKEscintilla/Qt4Qt5/qscintilla.pro.user -text
BKEscintilla/Qt4Qt5/qscintilla.vcxproj -text
BKEscintilla/Qt4Qt5/qscintilla_app.pro -text
BKEscintilla/Qt4Qt5/qscintilla_cs.qm -text
BKEscintilla/Qt4Qt5/qscintilla_cs.ts -text
BKEscintilla/Qt4Qt5/qscintilla_de.qm -text
BKEscintilla/Qt4Qt5/qscintilla_de.ts -text
BKEscintilla/Qt4Qt5/qscintilla_es.qm -text
BKEscintilla/Qt4Qt5/qscintilla_es.ts -text
BKEscintilla/Qt4Qt5/qscintilla_fr.qm -text
BKEscintilla/Qt4Qt5/qscintilla_fr.ts -text
BKEscintilla/Qt4Qt5/qscintilla_pt_br.qm -text
BKEscintilla/Qt4Qt5/qscintilla_pt_br.ts -text
BKEscintilla/Qt4Qt5/qscintilla_ru.qm -text
BKEscintilla/Qt4Qt5/qscintilla_ru.ts -text
BKEscintilla/Qt4Qt5/qsciscintilla.cpp -text
BKEscintilla/Qt4Qt5/qsciscintillabase.cpp -text
BKEscintilla/Qt4Qt5/qscistyle.cpp -text
BKEscintilla/Qt4Qt5/qscistyledtext.cpp -text
BKEscintilla/auto.exe -text
BKEscintilla/include/Face.py -text
BKEscintilla/include/HFacer.py -text
BKEscintilla/include/ILexer.h -text
BKEscintilla/include/License.txt -text
BKEscintilla/include/Platform.h -text
BKEscintilla/include/SciLexer.h -text
BKEscintilla/include/Scintilla.h -text
BKEscintilla/include/Scintilla.iface -text
BKEscintilla/include/ScintillaWidget.h -text
BKEscintilla/lexers/BKE_Lexer.cpp -text
BKEscintilla/lexlib/Accessor.cpp -text
BKEscintilla/lexlib/Accessor.h -text
BKEscintilla/lexlib/CharacterSet.cpp -text
BKEscintilla/lexlib/CharacterSet.h -text
BKEscintilla/lexlib/LexAccessor.h -text
BKEscintilla/lexlib/LexerBase.cpp -text
BKEscintilla/lexlib/LexerBase.h -text
BKEscintilla/lexlib/LexerModule.cpp -text
BKEscintilla/lexlib/LexerModule.h -text
BKEscintilla/lexlib/LexerNoExceptions.cpp -text
BKEscintilla/lexlib/LexerNoExceptions.h -text
BKEscintilla/lexlib/LexerSimple.cpp -text
BKEscintilla/lexlib/LexerSimple.h -text
BKEscintilla/lexlib/License.txt -text
BKEscintilla/lexlib/OptionSet.h -text
BKEscintilla/lexlib/PropSetSimple.cpp -text
BKEscintilla/lexlib/PropSetSimple.h -text
BKEscintilla/lexlib/SparseState.h -text
BKEscintilla/lexlib/StyleContext.cpp -text
BKEscintilla/lexlib/StyleContext.h -text
BKEscintilla/lexlib/WordList.cpp -text
BKEscintilla/lexlib/WordList.h -text
BKEscintilla/m_install_qsci_pro.bat -text
BKEscintilla/main.cpp -text
BKEscintilla/mainwindow.cpp -text
BKEscintilla/mainwindow.h -text
BKEscintilla/mainwindow.ui -text
BKEscintilla/qsci/api/python/Python-2.4.api -text
BKEscintilla/qsci/api/python/Python-2.5.api -text
BKEscintilla/qsci/api/python/Python-2.6.api -text
BKEscintilla/qsci/api/python/Python-2.7.api -text
BKEscintilla/qsci/api/python/Python-3.1.api -text
BKEscintilla/qsci/api/python/Python-3.2.api -text
BKEscintilla/qsci/api/python/Python-3.3.api -text
BKEscintilla/qsci/api/python/Python-3.4.api -text
BKEscintilla/source.qrc -text
BKEscintilla/source/bianji.png -text
BKEscintilla/source/编辑.png -text
BKEscintilla/source/编辑.psd -text
BKEscintilla/src/AutoComplete.cpp -text
BKEscintilla/src/AutoComplete.h -text
BKEscintilla/src/CallTip.cpp -text
BKEscintilla/src/CallTip.h -text
BKEscintilla/src/Catalogue.cpp -text
BKEscintilla/src/Catalogue.h -text
BKEscintilla/src/CellBuffer.cpp -text
BKEscintilla/src/CellBuffer.h -text
BKEscintilla/src/CharClassify.cpp -text
BKEscintilla/src/CharClassify.h -text
BKEscintilla/src/ContractionState.cpp -text
BKEscintilla/src/ContractionState.h -text
BKEscintilla/src/Decoration.cpp -text
BKEscintilla/src/Decoration.h -text
BKEscintilla/src/Document.cpp -text
BKEscintilla/src/Document.h -text
BKEscintilla/src/Editor.cpp -text
BKEscintilla/src/Editor.h -text
BKEscintilla/src/ExternalLexer.cpp -text
BKEscintilla/src/ExternalLexer.h -text
BKEscintilla/src/FontQuality.h -text
BKEscintilla/src/Indicator.cpp -text
BKEscintilla/src/Indicator.h -text
BKEscintilla/src/KeyMap.cpp -text
BKEscintilla/src/KeyMap.h -text
BKEscintilla/src/LexGen.py -text
BKEscintilla/src/License.txt -text
BKEscintilla/src/LineMarker.cpp -text
BKEscintilla/src/LineMarker.h -text
BKEscintilla/src/Partitioning.h -text
BKEscintilla/src/PerLine.cpp -text
BKEscintilla/src/PerLine.h -text
BKEscintilla/src/PositionCache.cpp -text
BKEscintilla/src/PositionCache.h -text
BKEscintilla/src/RESearch.cpp -text
BKEscintilla/src/RESearch.h -text
BKEscintilla/src/RunStyles.cpp -text
BKEscintilla/src/RunStyles.h -text
BKEscintilla/src/SVector.h -text
BKEscintilla/src/SciTE.properties -text
BKEscintilla/src/ScintillaBase.cpp -text
BKEscintilla/src/ScintillaBase.h -text
BKEscintilla/src/Selection.cpp -text
BKEscintilla/src/Selection.h -text
BKEscintilla/src/SplitVector.h -text
BKEscintilla/src/Style.cpp -text
BKEscintilla/src/Style.h -text
BKEscintilla/src/UniConversion.cpp -text
BKEscintilla/src/UniConversion.h -text
BKEscintilla/src/ViewStyle.cpp -text
BKEscintilla/src/ViewStyle.h -text
BKEscintilla/src/XPM.cpp -text
BKEscintilla/src/XPM.h -text
BKEscintilla/自动.e -text
/BKS_info.cpp -text
/BKS_info.h -text
CreatorPack/CreatorPack.pro -text
CreatorPack/QtFtp/QFtp -text
CreatorPack/QtFtp/QUrlInfo -text
CreatorPack/QtFtp/QtFtp -text
CreatorPack/QtFtp/QtFtpDepends -text
CreatorPack/QtFtp/QtFtpVersion -text
CreatorPack/QtFtp/qftp.h -text
CreatorPack/QtFtp/qtftpversion.h -text
CreatorPack/QtFtp/qurlinfo.h -text
CreatorPack/loli/loli_island.cpp -text
CreatorPack/loli/loli_island.h -text
CreatorPack/main.cpp -text
CreatorPack/mainwindow.cpp -text
CreatorPack/mainwindow.h -text
CreatorPack/mainwindow.ui -text
CreatorPack/weh.cpp -text
CreatorPack/weh.h -text
ParserHelper/ParserHelper.cpp -text
ParserHelper/ParserHelper.h -text
ParserHelper/config.h -text
ParserHelper/parser/BKE_array.h -text
ParserHelper/parser/BKE_hash.cpp -text
ParserHelper/parser/BKE_hash.hpp -text
ParserHelper/parser/BKE_number.cpp -text
ParserHelper/parser/BKE_number.h -text
ParserHelper/parser/BKE_string.cpp -text
ParserHelper/parser/BKE_string.h -text
ParserHelper/parser/BKE_variable.cpp -text
ParserHelper/parser/BKE_variable.h -text
ParserHelper/parser/defines.h -text
ParserHelper/parser/extend.cpp -text
ParserHelper/parser/extend.h -text
ParserHelper/parser/extend_wrapper.cpp -text
ParserHelper/parser/memorypool.h -text
ParserHelper/parser/parser.cpp -text
ParserHelper/parser/parser.h -text
ParserHelper/parser/parserextend_wrapper.cpp -text
ParserHelper/parser/utils.cpp -text
ParserHelper/parser/utils.h -text
ParserHelper/parser/vcode.h -text
ParserHelper/parserhelper_global.h -text
bkeSci/BkeIndicatorBase.h -text
bkeSci/autolex.cpp -text
bkeSci/autolex.h -text
bkeSci/bkecompile.cpp -text
bkeSci/bkecompile.h -text
bkeSci/bkedoc.cpp -text
bkeSci/bkedoc.h -text
bkeSci/bkemarks.cpp -text
bkeSci/bkemarks.h -text
bkeSci/bkeparser.cpp -text
bkeSci/bkeparser.h -text
bkeSci/bkescintilla.cpp -text
bkeSci/bkescintilla.h -text
bkeSci/qscilexerbkescript.cpp -text
bkeSci/qscilexerbkescript.h -text
/bkeico.ico -text
/bkeproject.cpp -text
/bkeproject.h -text
/bkeprojectconfig.cpp -text
/bkeprojectconfig.h -text
/codewindow.cpp -text
/codewindow.h -text
dia/bkeconfiguimodel.cpp -text
dia/bkeconfiguimodel.h -text
dia/bkeleftfilewidget.cpp -text
dia/bkeleftfilewidget.h -text
dia/cconfigdia.cpp -text
dia/cconfigdia.h -text
dia/ctextedit.cpp -text
dia/ctextedit.h -text
dia/ctextedit.ui -text
dia/lablesuredialog.cpp -text
dia/lablesuredialog.h -text
dia/newprodia.cpp -text
dia/newprodia.h -text
dia/qsearchlineedit.cpp -text
dia/qsearchlineedit.h -text
dia/searchbox.cpp -text
dia/searchbox.h -text
file/Stencil/config.bkpsr -text
file/Stencil/macro.bkscr -text
file/Stencil/main.bkscr -text
file/class.api -text
file/command.api -text
file/css.json -text
file/csvConvert/csvConvert.pro -text
file/csvConvert/main.cpp -text
file/csv处理.e -text
file/files.txt -text
file/parser.api -text
file/projects.txt -text
file/qt_zh_CN.qm -text
file/tool/BKCompiler_Dev.exe -text
file/tool/BKEngine_Dev.exe -text
file/tool/OpenAL.exe -text
file/tool/新建工程.mht -text
file/tool/简介.html -text
file/tool/编译与运行.mht -text
file/tool/编辑工程.mht -text
file/tool/编辑脚本.mht -text
/function.cpp -text
/function.h -text
/ico.rc -text
loli/loli_island.cpp -text
loli/loli_island.h -text
/main.cpp -text
/mainwindow.cpp -text
/mainwindow.h -text
/otherbasicwin.cpp -text
/otherbasicwin.h -text
/otherwindow.cpp -text
/otherwindow.h -text
paper/completebase.cpp -text
paper/completebase.h -text
paper/creator_parser.cpp -text
paper/creator_parser.h -text
paper/debugout.cpp -text
paper/debugout.h -text
paper/wordsupport.cpp -text
paper/wordsupport.h -text
/projectwindow.cpp -text
/projectwindow.h -text
/singleapplication.cpp -text
/singleapplication.h -text
/source.qrc -text
source/.bmp.png -text
source/.jpg.png -text
source/.png.png -text
source/Bookmark.png -text
source/Bookmarksmall.png -text
source/alert.png -text
source/auto_diction.png -text
source/auto_funcotin.png -text
source/auto_key.png -text
source/auto_math.png -text
source/auto_nomal.png -text
source/bianji.png -text
source/bksdoc.png -text
source/bksfile.png -text
source/bksfile.psd -text
source/btnlast.png -text
source/btnnext.png -text
source/clear.png -text
source/close.png -text
source/close2.png -text
source/code.png -text
source/column.png -text
source/compile.png -text
source/compile_run.png -text
source/copy.png -text
source/database.png -text
source/debug.png -text
source/doc.png -text
source/documents.psd -text
source/edit_cut.png -text
source/error.png -text
source/errorsmall.png -text
source/file.png -text
source/find.png -text
source/flay.png -text
source/hiddenleft.png -text
source/image.png -text
source/import.png -text
source/movie.png -text
source/music.png -text
source/newfile.png -text
source/newproject.png -text
source/open.png -text
source/open_file.png -text
source/openfile.png -text
source/paste.png -text
source/pin.png -text
source/pinsmall.png -text
source/redo.png -text
source/replace(1).png -text
source/replace(2).png -text
source/run.png -text
source/save.png -text
source/saveas.png -text
source/search1.png -text
source/sourcedoc.png -text
source/undo.png -text
source/wainningsmall.png -text
source/前后按钮.psd -text
source/编辑.png -text
source/编辑.psd -text
/topbarwindow.cpp -text
/topbarwindow.h -text
update/loli/loli_island.cpp -text
update/loli/loli_island.h -text
update/main.cpp -text
update/mainwindow.cpp -text
update/mainwindow.h -text
update/mainwindow.ui -text
update/update.pro -text
update/update.pro.user -text
update/weh.cpp -text
update/weh.h -text
/weh.cpp -text
/weh.h -text
